body {
    background-color: blueviolet;
    background-size: cover;
    background-repeat: no-repeat;

}

.container {
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.card {
    background-color:rgba(236, 233, 240, 0.57);
    border: 2px solid;
    border-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px rgba(250, 249, 249, 0.595);
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 200px;
    padding: 30px;   
    
}

.username {
    margin: 5px;
    width: 50%;
    background-color: #cf23be;
    align-self: center;
}

.password {
    padding: 10px;
}


.forgotU {
    text-align: center;
}
input[type=password] {
    width: 50%;
    align-self: center;
    
}



button {
    width: 20%;
    align-self: center;
    margin-top: 30px;
}